.title {
    width: 200px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    background-color: #00a2ff;
    margin: 0 auto;
}

.container {
    width: 300px;
    margin: 20px auto;
}

.field {
    margin: 20px;
}

.field .inputs{
    display: block;
}
